html, input{
  font-family: "Handjet";
}

body {
  background:black;
  color:white;

}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#key{
  position: absolute;
  right: 10vw;  
  top: 10vh;
}

table, tr, td {
  border: 1px solid white;
  margin: 3px;
}

button{
  margin-left: 3px;
  font-family: "Silkscreen";
}

p{
  font-family: "Silkscreen";
}

table#game, th{
  background-color: whitesmoke;
  color: black;
  font-family: "Silkscreen";
}

table#game , table#scoreboard {
  width: 45vw;
}

#game td{
  border: 0px;
}

.buttonCell{
  border: 0px;
  text-align: center;
}

.correctGuess{
  background-color:green;
}

.fiveOrLess{
  background-color:greenyellow
}

.fifteenOrLess{
  background-color:gold;
}

.wrongGuess{
  background-color:red;
}

